## Logistic Regression
(A few words before we go)

Contrary to popular beliefs, Logistic Regression is a type of Classification. Its just that we use the Linear regression function (f(x)= Ax + b). That is so.
Come, Let's go.

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
#Here, double slash used as \\ esc sequence for \
df = pd.read_csv("C:\\Rig\\Work\\ML ig\\weather_forecast_data.csv")

In [12]:
df.head()

   Temperature   Humidity  Wind_Speed  Cloud_Cover     Pressure     Rain
0    23.720338  89.592641    7.335604    50.501694  1032.378759     rain
1    27.879734  46.489704    5.952484     4.990053   992.614190  no rain
2    25.069084  83.072843    1.371992    14.855784  1007.231620  no rain
3    23.622080  74.367758    7.050551    67.255282   982.632013     rain
4    20.591370  96.858822    4.643921    47.676444   980.825142  no rain

In [13]:
df.shape

(2500, 6)

In [14]:
df.describe()

       Temperature     Humidity   Wind_Speed  Cloud_Cover     Pressure
count  2500.000000  2500.000000  2500.000000  2500.000000  2500.000000
mean     22.581725    64.347094     9.906255    49.658104  1014.312336
std       7.326996    19.954739     5.780316    29.123104    20.196433
min      10.001842    30.005071     0.009819     0.015038   980.014486
25%      16.359398    47.339815     4.761909    23.900016   996.938630
50%      22.536448    63.920797     9.908572    49.488284  1013.433035
75%      28.976476    81.561021    14.948408    75.324140  1031.735067
max      34.995214    99.997481    19.999132    99.997795  1049.985593

In [15]:
#checking if any empty data cells
df.isnull().sum()

Temperature    0
Humidity       0
Wind_Speed     0
Cloud_Cover    0
Pressure       0
Rain           0
dtype: int64

In [16]:
df['Rain'] = df['Rain'].map({'rain':1,'no rain':0})

In [17]:
df.head()

   Temperature   Humidity  Wind_Speed  Cloud_Cover     Pressure  Rain
0    23.720338  89.592641    7.335604    50.501694  1032.378759     1
1    27.879734  46.489704    5.952484     4.990053   992.614190     0
2    25.069084  83.072843    1.371992    14.855784  1007.231620     0
3    23.622080  74.367758    7.050551    67.255282   982.632013     1
4    20.591370  96.858822    4.643921    47.676444   980.825142     0

In [18]:
X = df.iloc[:,:5]
y = df.iloc[:,-1]
y.head()

0    1
1    0
2    0
3    1
4    0
Name: Rain, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [22]:
X_train

      Temperature   Humidity  Wind_Speed  Cloud_Cover     Pressure
2055    10.001842  78.251648    4.980841    29.887058  1033.641741
1961    34.105244  32.844383    7.206672    94.151499  1027.991494
1864    15.240068  82.011602   10.695710    20.713915  1046.234092
2326    17.161616  76.483176   13.680669    55.915756  1041.597091
461     19.476422  93.112471    1.692415    52.228285  1028.830153
...           ...        ...         ...          ...          ...
1638    26.825253  91.686792    8.058946    78.792732  1039.223895
1095    28.974614  58.618211   13.531515    67.976388  1025.789614
1130    10.051616  30.573940    9.517521    54.450577   997.630125
1294    10.619226  32.810852   16.924988    79.125241  1011.754684
860     33.427926  91.082135    2.555987    55.678875  1047.366547

[2000 rows x 5 columns]

In [30]:
from sklearn.preprocessing import StandardScaler

scaler=StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [32]:
X_test

array([[ 0.69659576, -1.58022421,  1.44229002, -0.95956467, -0.27369604],
       [-0.2130173 , -0.86927498,  0.95187547,  0.20294506,  1.30915532],
       [ 0.02433745,  0.29546605, -1.72687885, -0.00248771,  0.41989596],
       ...,
       [-0.48210234,  1.0423659 ,  0.15781154,  1.52204062,  1.6708541 ],
       [ 0.21252744,  0.15164594,  1.02676094,  1.12230565,  1.51327485],
       [ 0.08163122,  0.23172069, -0.58614584,  0.04169576,  1.58711561]])

In [46]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

classifier=LogisticRegression()
parameter= {'penalty' : ['l1', 'l2', 'elasticnet'], 'C':[0.1,2,3,5,7,9,10,30], 'max_iter':[10,50,100]}

In [48]:
#classifier_cv = GridSearchCV(classifier,param_grid=parameter,scoring='accuracy',cv=5)

In [50]:
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [52]:
print(classifier_cv.best_params_)

{'C': 0.1, 'max_iter': 10, 'penalty': 'l2'}

In [54]:
from sklearn.metrics import accuracy_score, precision_score, classification_report

accuracy = accuracy_score(y_test, y_pred)
precision = precision_score( y_test, y_pred)
report = classification_report(y_test, y_pred)

In [56]:
print(accuracy)
print(precision)

0.932
0.7346938775510204

In [58]:
print(report)

              precision    recall  f1-score   support

           0       0.95      0.97      0.96       443
           1       0.73      0.63      0.68        57

    accuracy                           0.93       500
   macro avg       0.84      0.80      0.82       500
weighted avg       0.93      0.93      0.93       500